src/SAELABEL.Api/Schemas/glabels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
  <xs:element name="Glabels-document" type="glabelsDocumentType" />
  <xs:element name="glabels-template" type="glabelsDocumentType" />
  <xs:element name="Template" type="templateType" />

  <xs:complexType name="glabelsDocumentType">
    <xs:sequence>
      <xs:element name="Template" type="templateType" />
      <xs:element name="Objects" type="objectsType" minOccurs="0" />
      <xs:element name="Variables" type="variablesType" minOccurs="0" />
      <xs:element name="Data" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
          </xs:sequence>
          <xs:anyAttribute processContents="lax" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="templateType">
    <xs:sequence>
      <xs:element name="Meta" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="product_url" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Label-rectangle">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
          </xs:sequence>
          <xs:attribute name="id" type="xs:string" use="optional" />
          <xs:attribute name="width" type="xs:string" use="required" />
          <xs:attribute name="height" type="xs:string" use="required" />
          <xs:attribute name="round" type="xs:string" use="optional" />
          <xs:attribute name="x_waste" type="xs:string" use="optional" />
          <xs:attribute name="y_waste" type="xs:string" use="optional" />
          <xs:anyAttribute processContents="lax" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="brand" type="xs:string" use="optional" />
    <xs:attribute name="description" type="xs:string" use="optional" />
    <xs:attribute name="part" type="xs:string" use="optional" />
    <xs:attribute name="size" type="xs:string" use="optional" />
    <xs:attribute name="width" type="xs:string" use="optional" />
    <xs:attribute name="height" type="xs:string" use="optional" />
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>

  <xs:complexType name="objectsType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>

  <xs:complexType name="variablesType">
    <xs:sequence>
      <xs:element name="Variable" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required" />
          <xs:attribute name="type" type="variableTypeType" use="optional" />
          <xs:attribute name="initialValue" type="xs:string" use="optional" />
          <xs:attribute name="increment" type="incrementModeType" use="optional" />
          <xs:attribute name="stepSize" type="xs:decimal" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="incrementModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="never" />
      <xs:enumeration value="per_item" />
      <xs:enumeration value="per_copy" />
      <xs:enumeration value="per_page" />
      <xs:enumeration value="item" />
      <xs:enumeration value="copy" />
      <xs:enumeration value="page" />
      <xs:enumeration value="copia" />
      <xs:enumeration value="pagina" />
      <xs:enumeration value="página" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="variableTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="integer" />
      <xs:enumeration value="floating_point" />
      <xs:enumeration value="string" />
      <xs:enumeration value="color" />
      <xs:enumeration value="boolean" />
      <xs:enumeration value="date" />
      <xs:enumeration value="datetime" />
      <xs:enumeration value="guid" />
      <xs:enumeration value="int" />
      <xs:enumeration value="float" />
      <xs:enumeration value="double" />
      <xs:enumeration value="decimal" />
      <xs:enumeration value="text" />
      <xs:enumeration value="hex_color" />
      <xs:enumeration value="bool" />
      <xs:enumeration value="date_time" />
      <xs:enumeration value="uuid" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
